name: coverage

on:
  push:
  pull_request:

jobs:
  generate-coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          coverage: pcov

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: composer install --no-interaction

      - name: Execute tests with Coverage
        run: php -d pcov.exclude="~vendor~" vendor/bin/phpunit --coverage-clover phpunit.coverage.xml

      - name: Fix code coverage paths
        run: sed -i 's@'$GITHUB_WORKSPACE'@/github/workspace/@g' phpunit.coverage.xml

      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}